.chat {
  &__backdrop {
    right: 50px;
    bottom: 50px;
    padding: 0;
    width: 572px;
    height: 665px;
    left: unset;
    top: unset;
    transform: unset;
  }
  &__title {
    font-size: 25px;
  }
  &__body {
    padding-inline: 15px;
    .wrapper {
      img {
        align-self: center;
      }
      display: flex;
      justify-content: flex-start;
      &_user {
        justify-content: end;
        flex-direction: row-reverse;
      }
      margin-top: 20px;
    }
    height: 100%;
    overflow-y: auto;
  }
  &__header {
    border-radius: 11px 11px 0 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--form_color);
    .icon {
      width: 32px;
      height: 32px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
  &__message {
    margin-left: 34px;
    max-width: calc(100%);
    text-wrap: wrap;
    padding: 17px 32px 17px 15px;
    height: auto;
    background-color: var(--box_color);
    border-radius: 10px;
    .title_details {
      color: var(--form_color);
    }
    &_user {
      background-color: var(--primary_color);
      .title_details {
        color: var(--secondary_color);
      }
      margin-left: 0;
      margin-right: 34px;
    }
  }
  &__input {
    .label {
      left: unset;
      right: 38px;
      cursor: pointer;
    }
    textarea {
      background-color: var(--box_color);
      height: 90px;
      border-radius: 0 0 10px 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-inline: 15px;
      font-weight: bold;
      padding-right: 65px;
    }
  }
}
