.complete {
  &__icon {
    width: 180px;
    height: 180px;
    object-fit: contain;
    display: block;
    margin-inline: auto;
  }
  &__text {
    text-align: center;
    margin-top: 15px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .complete {
    &__icon {
      width: 90%;
    }
  }
}
