.title {
  font-weight: bold;
  font-size: 38px;
  &_details {
    font-size: 18px;
    font-weight: normal;
  }
}
.black {
  color: var(--form_color);
}
@media (max-width: 780px) {
  .title {
    font-size: 30px;
    &_details {
      font-size: 16px;
    }
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
    &_details {
      font-size: 14px;
    }
  }
}
