.header {
  .wrapper {
    display: flex;
    align-items: center;
    .button {
      margin-right: 25px;
    }
  }
  &__left {
    cursor: pointer;
  }
  margin-top: 39px;
  &__title {
    font-size: 48px;
    font-weight: bold;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__nav {
    display: flex;
    border-radius: 10px;
    background: var(--opacity_color);
    box-shadow: 7px 7px 20px 0px var(--shadow_color);
    backdrop-filter: blur(5.150000095367432px);
  }
  &__link {
    transition: 0.1s all ease-out;
    &:hover {
      transform: scale(1.1);
    }
    padding: 15px;
    padding-inline: 15px;
    color: var(--secondary_color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  .first {
    padding-left: 30px;
  }
  .last {
    padding-right: 30px;
  }
}
@media (max-width: 780px) {
  .header {
    padding: 10px;
    justify-content: space-between;
    &__nav {
      backdrop-filter: unset;
      box-shadow: unset;
      background-color: unset;
      .last,
      .first {
        padding-inline: 15px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .switch {
      margin: 0px;
      margin-top: 8px;
      cursor: pointer;
    }
    .substrate {
      transition: 0.3s all ease-in-out;
      position: fixed;
      z-index: 10;
      width: 100%;
      top: 0px;
      right: -130%;
    }
    .wrapper {
      .icon__wrapper {
        margin-inline: auto;
      }
      float: right;
      backdrop-filter: blur(10px);
      border-radius: 10px 0px 0px 10px;
      padding: 15px;
      padding-top: 40px;
      width: 70%;
      height: 100vh;
      background-color: var(--opacity_color);
      .button {
        margin-inline: auto;
        margin-bottom: 15px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
